body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: cadetblue;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  margin: 20px 20px 20px 20px;
}
a {
  color: black !important;
}
.basdepage {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-inline-start: 0px !important;
  margin-bottom: 0px !important;
}
.item {
  /* background: var(--clr-white); */
  display: flex;
  justify-content: space-between;
  max-width: var(--fixed-width);
  margin: 2rem auto;
  align-items: center;
  border-radius: var(--radius);
}
.item button,
.item a {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  letter-spacing: var(--spacing);
  cursor: pointer;
}
.item {
  padding: 1rem 2rem;
}
.item h4 {
  margin-bottom: 0;
}
.item p {
  margin-bottom: 0;
}
form,
.item {
  border: 1px solid #cccccc;
  background: #f9f9fa;
  margin: auto;
}
form,
input,
textarea {
  width: 70%;
  align-content: center;
}
button {
  color: cornflowerblue;
}
